/*
色見本
#A88EF5
#F5C59A
#81A2F5
#F5E869
#76DDF5
 */

a,
a:hover {
  color: #a88ef5;
}

.frame {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  margin: -10px;
  border: 10px solid #f5e869;
  width: 100%;
  height: 100vh;
}

.global-wrapper {
  margin-bottom: 60px;
  padding: 10px;
  padding-bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #81a2f5, #76ddf5);
  color: #efefef;
}

.global-header {
  position: relative;
  width: 100%;
  color: #efefef;
}

.root-page-header {
  height: 100vh;
}
.branch-page-header {
  height: 100px;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.header-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 100px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background: #101010;
  border-radius: 5px;
}

.global-navigation {
  z-index: 15;
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  background: #f5e869;
}

.global-navigation ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.global-navigation li {
  width: 150px;
  text-align: center;
}

.global-navigation a {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #101010;
}

.global-navigation a:hover {
  background: linear-gradient(to bottom right, #81a2f5, #a88ef5);
  color: #efefef;
  border-radius: 5px;
}

.btn-yellow {
  background: #f5e869;
  color: #101010;
}

.btn-yellow:hover {
  background: linear-gradient(to bottom right, #81a2f5, #a88ef5);
  color: #efefef;
  transition: none;
}

/* 後で直す */
main {
  min-height: calc(100vh - 10px - 100px - 50px - 60px);
}

footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

article {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #101010;
}

article > section {
  margin-left: 1em;
}

article + article {
  margin-top: 10px;
}

.history-section + .history-section {
  margin-top: 50px;
}

.history-date {
  height: 50px;
  background: #101010;
  color: #efefef;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
